<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
        <style>
            body{
                background-image:url("https://www.nicepng.com/png/detail/78-788269_green-leaves-frame-transparent-background-border-leaves.png");
               /* background-image:url("https://www.vhv.rs/dpng/d/3-35298_leaves-border-clipart-png-transparent-png.png");*/
                background-size: 100%;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
            .display-3{
                animation: blink 2s infinite;
                font-size: 30px;
            }
            @keyframes blink {
                0% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                  color: green;
                }
              }
        </style>
    </head>
    <body>
        <center><h3 class = "display-3"><P>ABOUT OUR WEBSITE</p></h3></center>
        <div class = "container-fluid">
            <form action = "aboutWebsite" method = "GET">
            <center>
                <div class = "container" style = "width:400px; height: 100px; padding-top: 120px;">
            <h1 style = "color:green;"> Hello!!! </h1>
            <b><h2 style="font-size:17px;"> Welcome to <i style="font-family: Audiowide;">AUSHADI</i></h2></b>
            <h3> Our objective is to follow a drug free life.<br>In our website you can find uses of the various medicinal plants.<br>
            Thousands of years ago these were the medicines which were used to cure all kind of diseases without any side effects.</h3><br>
        </center>
        </form>
        </div>
    </body>
</html>