<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <style>
        body{
            background-image: url("https://th.bing.com/th/id/R.dbbd0362826f9cdbefda5aeb1082a0b5?rik=3QzkPyK%2ffMAHgA&riu=http%3a%2f%2fmedia.istockphoto.com%2fphotos%2ffresh-green-background-picture-id516689486%3fk%3d6%26m%3d516689486%26s%3d170667a%26w%3d0%26h%3dADC23aTmU7oAKpDN_4YM6sfx2VUvmHQB6R_c-e70DS0%3d&ehk=a9rK4lMA%2fdRjl4FLMj7LCuAaWha4r1uuP6715DwoWO8%3d&risl=&pid=ImgRaw&r=0");
            background-size: cover;
            font-size: 135%;
            margin: 6%;
            font-family: "Sofia";
        
            
        }
        .head{
            font-size: 150%;
            color: rgb(60, 113, 4);
            font-family: "Audiowide";
        }
    </style>
</head>
<html>
    <body>
        <form method = "GET" action="/Tulasiinfo">
            <br><center>
            <b><div class = "head">Name : GINGER<br></div></b></center>
            <br>
            <div>
            <b style="font-family: Audiowide;">Uses:</b><ul><br>
                <li>Ginger is high in gingerol, a substance with powerful anti-inflammatory and antioxidant properties.</li>
                <li>According to studies in animals and humans, ginger may help improve weight-related measurements. These include body weight and the waist-hip ratio.</li>
                <li>Ginger is effective at reducing symptoms of osteoarthritis, especially osteoarthritis of the knee.</li>
                <li>Ginger has been shown to lower blood sugar levels and improve various heart disease risk factors in people with type 2 diabetes.</li>
                <li>Ginger appears to speed up emptying of the stomach, which can be beneficial for people with indigestion and related stomach discomfort.</li>
                <li>Ginger appears to be very effective against menstrual pain when taken at the beginning of the menstrual period.</li>
                <li>Ginger contains the substance gingerol, which appears to have protective effects against cancer.</li>
                <li>Ginger may help fight harmful bacteria and viruses, which could reduce your risk for infections.</li>

            </ul><br>
        </div>
            <center><img src="https://gardenerspath.com/wp-content/uploads/2016/02/How-to-Grow-Ginger-FB.jpg"></center>

        </form>
    </body>
</html>