<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <style>
        body{
            background-image: url("https://th.bing.com/th/id/R.dbbd0362826f9cdbefda5aeb1082a0b5?rik=3QzkPyK%2ffMAHgA&riu=http%3a%2f%2fmedia.istockphoto.com%2fphotos%2ffresh-green-background-picture-id516689486%3fk%3d6%26m%3d516689486%26s%3d170667a%26w%3d0%26h%3dADC23aTmU7oAKpDN_4YM6sfx2VUvmHQB6R_c-e70DS0%3d&ehk=a9rK4lMA%2fdRjl4FLMj7LCuAaWha4r1uuP6715DwoWO8%3d&risl=&pid=ImgRaw&r=0");
            background-size: cover;
            font-size: 135%;
            margin: 6%;
            font-family: "Sofia";
        
            
        }
        .head{
            font-size: 150%;
            color: rgb(60, 113, 4);
            font-family: "Audiowide";
        }
    </style>
</head>
<html>
    <body>
        <form method = "GET" action="/Tulasiinfo">
            <br><center>
            <b><div class = "head">Name : HENNA<br></div></b></center>
            <br>
            <div>
            <b style="font-family: Audiowide;">Uses:</b><ul><br>
                <li>Henna flowers cure headaches caused by the heat of the sun.</li>
                <li>When henna is used on the hands, it helps to relax the body via the cooling effect it has on the nerves, thus reducing inflammation caused by arthritis symptoms.</li>
                <li>Traditional medicinal uses for henna include being used as a coagulant for open wounds and a poultice to sooth burns and eczema. </li>
                <li>Henna leaves rolled into a ball with water, placed in the hand will help bring temperature down.</li>
                <li>Henna helps to improve hair health.</li>
                <li>Chewing on henna leaves is said to reduce the risk of gum disease and treat mouth ulcers.</li>
                <li>Sprinkle a little bit of henna powder on the inflamed area to reduce heat and irritation.</li>
                <li>By soaking the bark or leaves of the henna plant in water and then consuming the liquid has been connected to improved spleen and liver health.</li>

            </ul><br>
        </div>
            <center><img src="https://www.organicfacts.net/wp-content/uploads/henna.jpg"></center>

        </form>
    </body>
</html>