<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
        <style>
            body{
                background-image: url("https://th.bing.com/th/id/R.dbbd0362826f9cdbefda5aeb1082a0b5?rik=3QzkPyK%2ffMAHgA&riu=http%3a%2f%2fmedia.istockphoto.com%2fphotos%2ffresh-green-background-picture-id516689486%3fk%3d6%26m%3d516689486%26s%3d170667a%26w%3d0%26h%3dADC23aTmU7oAKpDN_4YM6sfx2VUvmHQB6R_c-e70DS0%3d&ehk=a9rK4lMA%2fdRjl4FLMj7LCuAaWha4r1uuP6715DwoWO8%3d&risl=&pid=ImgRaw&r=0");
                background-size: cover;
                font-size: 135%;
                margin: 6%;
                font-family: "Sofia";   
            }
            .head{
                font-size: 150%;
                color: rgb(60, 113, 4);
                font-family: "Audiowide";
            }
        </style>
    </head>
    <body>
        <form method="GET" action="/MarshamalloInfo">

            <br><center><b><div class="head">Name:MARSHA MALLOW<br></div></b></center><br>
            <div>
            <b style="font-family: Audiowide;">Uses:</b>
            <ul><br>
                <li>inflammations and irritations of the urinary and respiratory mucus membranes</li>
                <li>counter excess stomach acid</li>
                <li>peptic ulceration</li>
                <li>gastritis</li>
                <h5>Externally, the root is applied to :</h5>
                <li>bruises, sprains</li>
                <li>aching muscles</li>
                <li>insect bites</li>
                <li>skin inflammations, splinters</li>
                <li>The leaves are very edible, unlike the aloe vera. They can be added to salads, boiled, or fried. It is known to help out in the area of cystitis and frequent urination.</li>
            </ul><br>
            </div>
            <center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgm3ZOuhT20dCOzghV5XOC8QLjnwyORAdSHQ&usqp=CAU"></center>
        </form>
    </body>
</html>