<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <style>
        body{
            background-image: url("https://th.bing.com/th/id/R.dbbd0362826f9cdbefda5aeb1082a0b5?rik=3QzkPyK%2ffMAHgA&riu=http%3a%2f%2fmedia.istockphoto.com%2fphotos%2ffresh-green-background-picture-id516689486%3fk%3d6%26m%3d516689486%26s%3d170667a%26w%3d0%26h%3dADC23aTmU7oAKpDN_4YM6sfx2VUvmHQB6R_c-e70DS0%3d&ehk=a9rK4lMA%2fdRjl4FLMj7LCuAaWha4r1uuP6715DwoWO8%3d&risl=&pid=ImgRaw&r=0");
            background-size: cover;
            font-size: 135%;
            margin: 6%;
            font-family: "Sofia";
        
            
        }
        .head{
            font-size: 150%;
            color: rgb(60, 113, 4);
            font-family: "Audiowide";
        }
    </style>
</head>
<html>
    <body>
        <form method = "GET" action="/Tulasiinfo">
            <br><center>
            <b><div class = "head">Name : TULASI<br></div></b></center>
            <br>
            <div>
            <b style="font-family: Audiowide;">Uses:</b><ul><br>
                <li>Tulsi is taken as herbal tea.</li>
                <li>The oil extracted from the Karpoora Tulsi is mostly used in the herbal toiletry. Its oil is also used against insects and bacteria.</li>
                <li>The Rama Tulsi is an effective remedy for Severe acute Respiratory Syndrome. Juice of its leaves gives relief in cold, fever, bronchitis and cough.</li>
                <li>Tulsi oil is also used as an ear drop.</li>
                <li>Tulsi helps in curing malaria.</li>
                <li>It is very effective against indigestion, headache, hysteria, insomnia, and cholera.</li>
                <li>The fresh leaves of Tulsi are taken by millions of people every day.</li>
                <li>Many people wear Tulsi beads, which is said to have certain physical and medicinal properties.</li>

            </ul><br>
        </div>
            <center><img src="https://cdn.shopify.com/s/files/1/0047/9730/0847/files/51iIZ1n-lJL_large.jpg?v=1598874255"></center>

        </form>
    </body>
</html>